@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

:root{
  --primary: #060673;
  --secondary: #4e4e4e;
  --error: #ff4a4a;
}

/* base styles & title */
body{
  font-family: "Roboto";
  color: var(--secondary);
  background-color: rgb(237, 237, 226);
}
.App{
  max-width: 2048px;
  margin: 0 auto;
}
.title h1{
  position: absolute;
  top: 10px;
  color: var(--primary);
  font-size: 2.8rem;
  letter-spacing: 2px;
  font-weight: normal;
}
form{
  margin-top: 0 px;
}
label input{
  height: 0;
  width: 0;
  opacity: 0;
}
label{
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid var(--primary);
  border-radius: 50%;
  margin: 10px auto;
  line-height: 30px;
  color: var(--primary);
  font-weight: bold;
  font-size: 24px;
}
label:hover{
  background: var(--primary);
  color: white;
}
.inputFile{
  position: absolute;
  margin-top: 40px;
  text-align: right;
  left: 88%;
}
.uploadImage{
  position: absolute;
  margin-top: 40px;
  text-align: right;
  left: 90%;
}
.output{
  height: 60px;
  font-size: 0.8rem;
}
.error{
  color: var(--error);
}

/* progress bar styles */
.progress-bar{
  height: 15px;
  color: green;
  background: var(--primary);
  margin-top: 110px;
  max-width: 60%;
  margin-left: 300px;
}

/* image grid styles */
.img-grid{
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}
.img-wrap{
  overflow: hidden;
  height: 0;
  padding: 50% 0;
  /* padding controls height, will always be perfectly square regardless of width */
  position: relative;
  opacity: 0.8;
}
.img-wrap img{
  min-width: 100%;
  min-height: 100%;
  max-width: 150%;
  position: absolute;
  top: 0;
  left: 0;
}

/* modal styles */
.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  text-align: center;
}
.backdrop img{
  display: block;
  max-width: 40%;
  max-height: 60%;
  margin: 60px auto;
  box-shadow: 3px 5px 7px rgba(0,0,0,0.5);
  border: 3px solid white;
}
.backdrop text{
  font-size: 2.5rem;
  color: wheat;
  position: relative;
}
.backdrop button{
  font-size: 1.8rem;
  color: lightgreen;
  background-color: black;
  position: relative;
}
.editText{
  align-items: center;
  text-align: center;
  max-width: 100%;
  font-size: 3.5rem;
  color: rgb(228, 220, 204);
  height: fit-content;
}
.sideBar button{
  position: relative;
  max-width: 50%;
  left: 38%;
  font-size: 2rem;
  color: rgb(24, 125, 9);
  background-color: beige;
}
.button-upload{
  position: relative;
  min-height: 48px;
  min-width: 96px;
  margin-top: 40px;
  font-size: 1.2rem;
  background-color: beige;
  font-weight: bolder;
  font-family: Roboto;
  left: 93%;
}